@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* html{
  font-size: 10px;
} */
* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input:focus {
  border: 2px solid #17CF98 !important;
  outline: none !important;
}
textarea:focus {
  border: 2px solid #17CF98 !important;
  outline: none !important;
}
.link {
  color: inherit;
  text-decoration: inherit;
}

.link:hover {
  color: blue;
}

/* Onboarding SignIn */
.btn_custom {

  /* width: 472px; */
  background-color: inherit;
  border: 1px solid #3730A3;
  border-radius: 8px;
}
.custom_input {
  width: 472px !important;
  background-color: inherit !important;
  border: 1px solid #3730A3 !important;
  border-radius: 8px !important;
  height: 3rem !important;
  font-family: poppins !important;
  font-size: 1rem !important;
}
.small_input
{
  width: 224px;
  background-color: inherit;
  border: 1px solid #3730A3;
  border-radius: 8px;
}
.css-13cymwt-control  {
  width: 472px !important;
  background-color: inherit !important;
  border: 1px solid #60A498 !important;
  border-radius: 8px !important;
  height: 3rem !important;
  font-family: poppins !important;
  font-size: 16px !important;
}
.css-t3ipsp-control  {
  /* font-family: poppins !important;
  font-size: 16px !important; */
  height: 3rem !important;

}
.signin_css {
  border-radius: 8px !important;
}
.line-width {
  width: 217px;
}

.onboarding_text {
  top: 175px;
}
.google_btn {
  font-size: 1rem !important;
  border: 1px solid #60A498 !important;
  border-radius: 8px !important;
color: #60A498 !important;
  background-color: inherit !important;
}

.google_btn > * {
  background-color: inherit !important;

}
.verification_card {
  background-color: #F1FFFD;
}
.custom_option {
/* background-color: black !important; */
height: 100px !important;
}
.custom_option:hover {
  background-color: black !important;
  /* height: 100px !important; */
  }
.search-box {
  width: 80%;
  height: 40px;
}
/* .google-signin-button {
  width: 100%;
  max-width: 100%;
} */

.custom-dropdown {
  position: relative;
  width: 100%;
  font-size: 14px;
}

.custom-dropdown__selected {
  padding: 8px;
  border: 1px solid #60A498;
    border-radius: 8px;
  cursor: pointer;
}

.custom-dropdown__options {
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-dropdown__option {
  padding: 8px;
  cursor: pointer;
}

.custom-dropdown__option:hover {
  background-color: #f1f1f1;
}
.custom-google-login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  color: white;
  font-weight: bold;
  padding: 10px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  border: 1px solid #60A498;
border-radius: 8px;


}

.custom-google-login-button img {
  margin-right: 10px;
}


/* Navbar */
.navbar_css {
  width: 332px;

}
.main-body_css {
  width: calc(100% - 332px);
}

.nav-opt:hover {
  background: linear-gradient(269.46deg, rgba(23, 207, 152, 0.4) -157.04%, rgba(255, 255, 255, 0) 176.19%);
  border-radius: 8px;
}
.nav-opt:hover  .order_icon path {
  fill: #17CF98 !important;
}
.nav-opt:hover  #nav_icon path {
  fill: #17CF98 !important;
}

.nav-opt:hover   .custom-link {
  color: #17CF98 !important;
}
.nav-opt {
  position: relative;
}
.info-div {
  scrollbar-width: none;
}
.info-div::-webkit-scrollbar {
  display: none;
}
/* Main body */
.nav-top_css {
  height: 64px;
}
.main-content_css {
  height: calc(100% - 64px);

}
.user_css {
  background: linear-gradient(129.98deg, #4ADE80 -74.96%, rgba(74, 222, 128, 0) 207.28%);
  border-radius: 20px;
}

.vertical-line {
  width: 1px;
 height: 48px; 
  background-color: #9CA3AF; 
  margin-left: 50px;
}
.help:hover path {
  fill: blue ;
}


.selected-option {
  /* Add the styling for the selected option here, e.g., */
  background: linear-gradient(269.46deg, rgba(23, 207, 152, 0.4) -157.04%, rgba(255, 255, 255, 0) 176.19%);
    border-radius: 8px;
  margin-left: 16px;
}
.selected-option   .custom-link {
  color: #17CF98 !important;
}
.selected-option   #nav_icon path {
  fill: #17CF98 !important;
}
.selected-option   #nav_icon  {
  margin-left: 10px;
}
.selected-option::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #17CF98; /* Replace with your desired color */
  margin-right: 8px;
}
/* Commodity Page */
.btn_css {
  background-color: #60A498;
}
.modal_btn_custom {
  background-color: inherit;
  border: 1px solid #60A498;
  border-radius: 8px;
}
.commodity_dropdown_div {
  width: 50%;
}
/* .icon-option {
  margin-left: 10px;
} */
.commodity_table {
  background: #F9FAFB;
box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.table-custom tbody tr:first-child td {
  padding-top: 2rem; /* Adjust this value to your desired spacing */
}

.alert_success {
  background: rgba(186, 232, 182, 0.23);
  border: 1px solid #40D437;
  border-radius: 8px;
}
.alert_fail {
  background: rgba(255, 0, 0, 0.1);
  border: 1px solid #FF0000;    
  border-radius: 8px;
}

.search_input {
  width: 230px;
  height: 36px;
  border: 1px solid #C6C7CA;
border-radius: 8px;
}

.commodity_alert {
  position: absolute;
  top: 20%;
  left: 50%;
}
.alert_text {
  color: #FF0000;
}
.login_error {
  position: absolute;
  top: 17%;
}

/* Table */
.rdt_TableHeadRow {
  background-color: #F9FAFB !important;
}
.overflow-hidden > nav {
  width: 20%;
}
.selected-tab > .z-20 > .absolute   {
  background-color: #DCFCE7 !important;
}
.dNHUrz svg {
  display: none !important;
}

/* Phone input */
.react-tel-input .flag-dropdown {
  display: none;
}
.react-tel-input .form-control {
  padding-left: 10px !important;
}
 
.phone-input-wrapper {
  position: relative;
  display: inline-block;
}

.phone-input-prefix {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  pointer-events: none;
}
.antialiased  {
  padding-left:0.1rem;
}

.phone-input {
  padding-left: 40px !important;
}
/* Driver Phone  */

.driver_phone {
  width: 100% !important;
}

/* Truck Module */

.notes_input {
  width: 203%;
}
/* Dot Number */
.dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  padding: 8px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 1px;
  border-radius: 4px;
  width: 100%;
}
.dropdown-content:hover {
  background-color: #DCFCE7;
}
.show-dropdown .dropdown-content {
  display: block;
}

/* Driver Module */

.driver_tabs > nav {
  width: 55%;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
/* Add custom styling to the button */
.dropdown-content button {
  background-color: transparent;
  border: none;
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

/* Equipment Number */
.equipment_number_input {
  width: 46%;
}
/* Responsive Screens */



@media (min-width: 810px) { 
  html {
    font-size: 14px;
  }
}

@media (min-width: 1300px) { 
  html {
    font-size: 12px !important;
  }
}

@media (min-width: 1920px) { 
  html {
    font-size: 14px;
  }
  .signin_card {
    width: 45% !important;
  }
  .signup_card {
    width: 45% !important;
  }
}

@media (min-width: 2350px) { 
  html {
    font-size: 16px !important;
  }
}

/*  */
 